<div class="resBox p-5" *ngIf="restaurants.length !==0">
    <div class="headline">
        <h3>Best Restaurant In {{city}}</h3>
    </div>

    <!-- <app-spinner *ngIf="loadingService.getSpinnerVisible()"></app-spinner> -->

    <div class="restaurants flex gap-4 p-3 justify-content" >

       
        <div class="card" *ngFor="let restaurant of restaurants | paginate:{itemsPerPage:itemsPerPage, currentPage:p}">
            <app-restaurantcard [onerestaurant] = "restaurant"></app-restaurantcard>
        </div>
    </div>
    <div class="controls text-center m-3">
        
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

    <!-- <div class="text-center" *ngIf="restaurants.length == 0 || restaurants == undefined">
    <h1>No Restaurant In Your City</h1></div> -->
</div>

<div class="text-center p-5" *ngIf="noRestuarant">
<h3 class="text-info-emphasis">Sorry, No Restaurant In Your City</h3>
<p>We are working hard to brin dishdash to your city</p>
</div>
<div class="spinner flex justify-content-center " *ngIf="spinnerVisible">
    <mat-spinner ></mat-spinner>
</div>
