.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 0px 50px;
    /* position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease; */
}

.right {
    
}

.left img {
    cursor: pointer;
}

.drop {
    background-color: none;
}

.logout img {
    border-radius: 50%;
}

.mycart {
    position: absolute;
    top:100% ;
    right: 0;
    width: 30vw;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
}
.cart {
    position: relative;
}

