.nav {
    justify-content: space-between;
    height: 10vh;
    padding: 0px 50px;
}

.right {
    
}

.left img {
    cursor: pointer;
}

.drop {
    background-color: none;
}

.logout img {
    border-radius: 50%;
}

