
<div class="card pointer" routerLink="/restaurants/{{onerestaurant.resId}}">
<div class="image" >
        <img [src]="onerestaurant.resImages[0]" alt="">
    
    </div>
    <div class="info p-3 flex">
        <div class="left">
            <h6>{{onerestaurant.resName}}</h6>
            <p>{{onerestaurant.resAddress}}</p>
            <span>{{onerestaurant.resCategories}}</span>
        </div>

        <div class="right">
            <span>{{onerestaurant.resRating}}</span>
            <mat-icon>heart</mat-icon>

        </div>
    </div>
</div>