/* Navbar Styles */
.navbar {
  z-index: 1000; /* Ensure the navbar is above other content */
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Loading Bar Styles */
.loading-bar {
  position: relative;
  z-index: 999; /* Ensure the loading bar is below the navbar */
  width: 100%;
  height: 5px;
  background-color: yellow;
  display: none; /* Initially hidden */
}

/* Main Content Styles */
.main-content {
  padding-top: 70px; /* Match the navbar height */
  padding-bottom: 20px; /* Optional: Add some bottom padding */
}

/* Footer Styles */
footer {
  padding: 20px;
  text-align: center;
  background-color: #f8f9fa;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
  .navbar-brand .logo {
      height: 40px;
  }
  .nav-item .cart-dropdown {
      width: 100%;
  }
}
