<div class="main flex justify-content align-items">

    <div class="headline ">
        <h1>Discover the best food & drinks in CITY </h1>
    </div>

    <div class="searchbar flex align-items m-3">
        <div class="search">
            <input type="text" placeholder="Seach for restaurant, cuisine or a dish" [(ngModel)]="Search"></div>
        <div class="button">
            <button class="btn btn-danger" (click)="onSearch()">
                <mat-icon  aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
                </button>
        </div>
        

    </div>


</div>