<div class=" header flex justify-content-between align-items">
    <button mat-icon-button class="close-button" (click)="closeDialoge()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

<!-- <p>register works!</p> -->
<form class="regform" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-div flex flex-column justify-content-center ">
    <!-- customerName -->
    <mat-form-field class="w-100" color="primary" appearnace="legacy">
        <mat-label>Your Name</mat-label>
            <input matInput type="text" placeholder="Your Name" formControlName="customerName">
        <mat-error class="error" *ngIf="registerForm.get('customerName')?.errors?.['required']">
            Name is required
         </mat-error>
         <mat-error calss="error" *ngIf="registerForm.get('customerName')?.errors?.['minlength']">
            Name must have more than 2 characters.
         </mat-error>
         <mat-error class="error" *ngIf="registerForm.get('customerName')?.errors?.['pattern']">
            only alphabets are allowed
         </mat-error>
    </mat-form-field>
    <!-- customerEmail-->
     <mat-form-field color="primary" appearnace="legacy">
        <mat-label>Your Email</mat-label>
        <input matInput type="email" placeholder="email" formControlName="customerEmail">
        <mat-error class="error" *ngIf="registerForm.get('customerEmail')?.errors?.['required']">
            Email is required.
        </mat-error>
        <mat-error class="error" *ngIf="registerForm.get('customerEmail')?.errors?.['pattern']">
            Enter valid email.
        </mat-error>
     </mat-form-field >
    <!-- customerPassword -->
     <mat-form-field color="primary" appearnace="legacy">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password" formControlName="customerPassword">
        <mat-error class="error" *ngIf="registerForm.get('customerPassword')?.errors?.['required']">
            Password is required.
        </mat-error>
        <mat-error class="error" *ngIf="registerForm.get('customerPassword')?.errors?.['pattern']">
            Password should have min 8 letter password, with atleast a symbol, upper and lower case letters
            and a number.
         </mat-error>
     </mat-form-field >
     <!-- confirm password -->
     <mat-form-field color="primary" appearnace="legacy">
        <mat-label>Confirm password</mat-label>
        <input matInput type="password" placeholder="confirm Password" formControlName="confirmPassword">
        <span *ngIf="confirmPassword?.dirty ||  confirmPassword?.touched ">
            <mat-error class="error" *ngIf="confirmPassword?.errors?.['required']">
                  Confirm Password is required
            </mat-error>
            <mat-error *ngIf="registerForm?.errors?.['passwordMismatch']">
                  >Password and Confirm Password should match
            </mat-error>
         </span>
     </mat-form-field>
    </div>
    <!-- <button class="bg-primary-subtle" color="primary" type="submit" [disabled]="registerForm.invalid">Submit</button> -->

    <button class="w-100 mainbtn btn btn-primary btn-block mb-4" type="submit" [disabled]="registerForm.invalid">Submit</button>
</form>

<div class="spinner flex justify-content-center" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>

